In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\anoop\Python\Web-Scraping\Scraping-Job_Website\My-Job-List\My-Jobs.csv')
df

,Company Name,Required Skills,More Info
0,RedLotus,"\ndatascientist,statisticalmodeling,datavisual...",https://www.timesjobs.com/job-detail/data-scie...
1,Sigmoid,\r\n\r\nstronglearningacumen|teamplayer|datain...,https://www.timesjobs.com/job-detail/data-scie...
2,Cellworks,"\r\n\r\nalgorithms,python,datamining,machinele...",https://www.timesjobs.com/job-detail/data-scie...

In [6]:
df['Required Skills'] = df['Required Skills'].str.replace(r'\r\n\r\n|\r\n|\n', '', regex=True)
df

,Company Name,Required Skills,More Info
0,RedLotus,"datascientist,statisticalmodeling,datavisualiz...",https://www.timesjobs.com/job-detail/data-scie...
1,Sigmoid,stronglearningacumen|teamplayer|datainterpreta...,https://www.timesjobs.com/job-detail/data-scie...
2,Cellworks,"algorithms,python,datamining,machinelearning,n...",https://www.timesjobs.com/job-detail/data-scie...

In [9]:
df.to_csv('cleaned_data.csv')

In [10]:
pd.read_csv(r'C:\Users\anoop\Python\Web-Scraping\Scraping-Job_Website\cleaned_data.csv')

,Unnamed: 0,Company Name,Required Skills,More Info
0,0,RedLotus,"datascientist,statisticalmodeling,datavisualiz...",https://www.timesjobs.com/job-detail/data-scie...
1,1,Sigmoid,stronglearningacumen|teamplayer|datainterpreta...,https://www.timesjobs.com/job-detail/data-scie...
2,2,Cellworks,"algorithms,python,datamining,machinelearning,n...",https://www.timesjobs.com/job-detail/data-scie...